{extend name="layout/base" /}

{block name="main"}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">{$name}</div>
            <div class="layui-card-body">
                <table class="layui-hide" id="admin-table" lay-filter="admin-table"></table>
            </div>
        </div>
    </div>
</div>

{/block}


{block name="js"}
<script type="text/html" id="toolBar">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-green" lay-event="view">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-blue" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red" lay-event="delete">删除</a>
    </div>
</script>

<script>
    layui.use(function () {
        var table = layui.table
            , $ = layui.$;

        table.render({
            elem: "#admin-table"
            , url: "/api/{$pathinfos[2]}/index"
            , page: {$page ?? "false"}
            , cols: [<?php echo json_encode($columns); ?>]
        });

    table.on("tool(admin-table)", function (obj) {
        let data = obj.data;
        console.log(data);
        switch (obj.event) {
            case "view":
                layer.open({
                    type: 2,
                    title: "查看",
                    shadeClose: true,
                    maxmin: true, // 开启最大化最小化按钮
                    area: ["80%", "80%"],
                    content: "/admin/form/{$pathinfos[2]}?_type=view&" + $.param(data)
                });
                break;
            case "edit":
                layer.open({
                    type: 2,
                    title: "编辑",
                    shadeClose: true,
                    maxmin: true, // 开启最大化最小化按钮
                    area: ["80%", "80%"],
                    content: "/admin/form/{$pathinfos[2]}?_type=edit&" + $.param(data)
                });
                break;
            case "delete":
                layer.confirm('确定删除吗？', { icon: 3 }, function () {
                    $.ajax({
                        url: "/api/{$pathinfos[2]}/delete/" + data.id
                        , type: "delete"
                    })
                        .done(function (res) {
                            layer.msg(res.msg);
                        })
                });
                break;
            default:
                break;
        }
    });
    })
</script>
{/block}
